django
django-admin-interface
django-colorfield
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-import-export[all]
django-jazzmin
djangorestframework
djangorestframework-simplejwt
drf-material
drf-nested-routers
drf-spectacular
drf-spectacular-sidecar
environs
git-filter-repo
icecream
pillow
psycopg2-binary
python-dotenv
uvicorn
whitenoise
gunicorn
django-debug-toolbar
djangorestframework-role-filters