django-import-export
django
djangorestframework
psycopg2-binary
django-admin-interface
django-import-export
django-colorfield
python-dotenv
django-extensions
django-jazzmin
icecream
pillow
djangorestframework-simplejwt
uvicorn
drf-material
drf-nested-routers
drf-spectacular
drf-spectacular-sidecar
django-cors-headers
environs
django-debug-toolbar